data/*
src/__pycache__/*
doc/*.pdf
doc/*.aux
doc/*.log
doc/*.gz
doc/sections/*.aux
doc/geoai.fdb_latexmk
doc/geoai.fls
*.toc
*.bbl
*.blg
doc/.~lock.report_formta.docx#
doc/[Content_Types].xml
doc/_rels/.rels
doc/word/_rels/document.xml.rels
doc/word/_rels/header1.xml.rels
doc/word/document.xml
doc/word/fontTable.xml
doc/word/header1.xml
doc/word/media/image1.png
doc/word/media/image2.png
doc/word/media/image3.jpg
doc/word/numbering.xml
doc/word/settings.xml
doc/word/styles.xml
doc/word/theme/theme1.xml
doc/[Content_Types].xml
outputs/*
*.tif
*.aux.xml
src/.ipynb_checkpoints/*
*.vrt
*.las
*.laz
doc/.~port_formta.docx
*.log
*.out
*.synctex.gz